

.block {
	padding: 2em 2em 0 2em;
    border: solid rgb(24,4,55);
    border-width: 2px 2px 2px 2px;/*top right bottom left*/
    box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.9);/*right down blur colour*/
}

li {
	opacity: 0;
}

.thumbnail {
    max-height: 95%;
    max-width: 95%;
}

.columns {
	display: table;
	margin-bottom: 0;
}

.project .columns {
	height: 15em;
}

.center {
	/*background: #400;*/
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.project .center {
	height: 15em;
}

.icon {
    height: 5em;
    float: left;
    clear: left;
    padding-right: 1em;
}
.titles {
	text-align: left;
    padding-top: 0.5em;
}
.titles h4 {/*title*/
    margin: 0.1em 0 0 0;
}
.titles h6 {/*subtitle*/
    margin: 0.25em 0 0 0;
}
.info  {/*desc*/
	text-align: left;
    clear: left;
    font-size: 1.2rem;
    padding-top: 1em;
}
.info p{
	margin-bottom: 0;
}
.info h6{
	font-weight: bold;
	margin-top: 0.25em;
}

.expand {
	padding: 0;
	margin-right: 0;
	position: relative;
	top: -1em;
}
.collapse h5 ,.expand h5 {
    cursor: pointer;
    padding-left: 2px;
    font-size: 15px;
    letter-spacing: 1px;
    clear: left;
}
.collapse {
    display: none;
}


.extra {
    display: none;
}

.extra ul{
    margin:0 !important;
}


/* For devices larger than 400px */
@media (min-width: 400px) and (max-width: 549px) {
.extra .columns {
	height: 10em;
}
.extra .center {
	height: 10em;
}
#extra_picture {
	height: 25em;
}
}

/* For devices larger than 550px */
@media (min-width: 550px) {
.extra .row {
	width: 95%
}
.extra .columns {
	height: 18em;
}
.extra .center {
	height: 18em;
}

}

 