

.block {
	padding: 1em;
    border: solid rgb(24,4,55);
    border-width: 2px 2px 2px 2px;/*top right bottom left*/
    box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.9);/*right down blur colour*/
}

.thumbnail {
    max-height: 100%;
    max-width: 100%;
}

.columns {
	background: #500;
	display: table;
}

.project .columns {
	height: 15em;
}

.center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.project .center {
	height: 15em;
}

.icon {
    height: 5em;
    float: left;
    clear: left;
    padding-right: 1em;
}
.titles {
	text-align: left;
    padding-top: 0.5em;
}
.titles h4 {/*title*/
    margin: 0.1em 0 0 0;
}
.titles h6 {/*subtitle*/
    margin: 0.25em 0 0 0;
}
.info  {/*desc*/
	text-align: left;
    clear: left;
    font-size: 1.2rem;
    padding-top: 1em;
}


.block h5 {
    cursor: pointer;
    padding-left: 2px;
    font-size: 15px;
    letter-spacing: 1px;
    clear: left;
}
.collapse {
    display: none;
}
.extra {
    display: none;
}





